@model List<CharitiesViewModel>

@{

    var apiUrl = Context.Session.GetString("_ApiUrl");
    var apiKey = Context.Session.GetString("_XApiKey");
    var userId = Context.Session.GetString("_UserId");
}

<div class="row" id="dynamicRow">
    @foreach (var item in Model)
    {
        <div class="col-md-4 ftco-animate col-md-4 ftco-animate fadeInUp ftco-animated">
            <div class="cause-entry card-radius">
                <a href="@Url.Action("CharityDetails","Home")?charityId=@item.Id&userId=@userId" class="img" style="background-image: url(@Url.Content(""+item.ImageUrl+""));"></a>
                <div class="text p-3 p-md-4 card-radius">
                    <h4><a href="@Url.Action("CharityDetails","Home")?charityId=@item.Id&userId=@userId">@item.Name</a></h4>
                    <p>@item.Description</p>

                    <div>
                        <span style="background-color: #f7ca44;padding: 6px;" class="button-radius"><a href="@Url.Action("CharityDetails","Home")?charityId=@item.Id&userId=@userId" style="color:white">Details</a></span>

                        @if (item.Vetted)
                        {
                            <span style="background-color: green;padding: 6px;" class="button-radius"><a href="@Url.Action("CharityVettingCriteria","Home")?charityId=@item.Id" style="color:white">Vetted</a></span>
                        }
                        else
                        {
                            <span style="background-color: red;padding: 6px;" class="button-radius"><a href="#" style="color:white">Not Vetted</a></span>
                        }

                        @if (item.DonationLink == null)
                        {
                            <span style="background-color: deepskyblue;padding: 6px;" class="button-radius"><a style="color:white; cursor:pointer" onclick="Donate('@item.Id','@item.Name')">Donate</a></span>
                        }
                        else
                        {
                            <span style="background-color: deepskyblue;padding: 6px;" class="button-radius"><a href="@item.DonationLink" target="_blank" style="color:white; cursor:pointer">Donate</a></span>
                        }

                        @if (item.IsFavorite)
                        {
                            <span style="background-color: gray;padding: 6px;" class="button-radius"><i class="bi bi-heart-fill" id="icon_@item.Id" onclick="AddToFavorites('@item.Id')" style="font-size:22px; color:#f7ca44; cursor:pointer"></i></span>
                        }
                        else
                        {
                            <span style="background-color: gray;padding: 6px;" class="button-radius"><i class="bi bi-heart" id="icon_@item.Id" onclick="AddToFavorites('@item.Id')" style="font-size:22px; color:#f7ca44; cursor:pointer"></i></span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<input type="hidden" id="hdnCharityId" />
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Donate Your Contribution</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <label class="col-md-2 col-form-label">Title</label>
                    <div class="col-md-10">
                        <label id="lblTitle"></label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <nav>
                            <ul class="pagination pagination">
                                <li class="page-item" onclick="SuggestedAmount(5)"><a class="page-link">£5</a></li>
                                <li class="page-item" onclick="SuggestedAmount(10)"><a class="page-link">£10</a></li>
                                <li class="page-item" onclick="SuggestedAmount(15)"><a class="page-link">£15</a></li>
                                <li class="page-item" onclick="SuggestedAmount(20)"><a class="page-link">£20</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <label for="lblAmount" class="col-md-2 col-form-label">Amount</label>
                    <div class="col-md-6">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">£</div>
                            </div>
                            <input type="number" id="txtAmount" min="1" style="height:39px !important" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-form-label"></div>
                    <div class="col-md-10">
                        <button id="btnSave" type="button" class="btn btn-success button-radius">Save</button>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger button-radius" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSave").click(function () {

            var userId = '@userId';
            var charityId = $("#hdnCharityId").val();
            var amount = $("#txtAmount").val();
            var apiKey = '@apiKey';

            if (amount == '') {
                toastr.error('Please enter an amount');
            }
            else if (userId == '') {
                toastr.error('Please Sign In to donate');
            }
            else {

                var apiUrl = '@apiUrl';
                var donationRequest = {
                    UserId: userId,
                    CharityId: charityId,
                    Amount: amount
                };

                $.ajax({
                    type: "POST",
                    url: "" + apiUrl + "api/Charity/Donation",
                    data: JSON.stringify(donationRequest),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data, textStatus, xhr) {
                        if (xhr.status == 200) {
                            toastr.success(data.message);
                            $('#myModal').modal('toggle');
                        }
                    },
                    complete: function (xhr, textStatus) {

                    }
                });
            }
        });
    });

    function Donate(id, name) {
        $('#myModal').modal('show');
        $('#lblTitle').html(name);
        $('#hdnCharityId').val(id);
        $("#txtAmount").val("");
    }

    function SuggestedAmount(amount) {
        $("#txtAmount").val(amount);
    }

    function AddToFavorites(id) {

        var userId = '@userId';
        var charityId = id;
        var apiKey = '@apiKey';

        if (userId == '') {
            toastr.error('Please Sign In to add favorites');
        }
        else {

            var apiUrl = '@apiUrl';
            var addToFavoritesRequest = {
                UserId: userId,
                CharityId: charityId
            };

            $.ajax({
                type: "POST",
                url: "" + apiUrl + "api/Charity/AddToFavorites",
                data: JSON.stringify(addToFavoritesRequest),
                dataType: "json",
                contentType: "application/json",
                success: function (data, textStatus, xhr) {
                    if (xhr.status == 200) {

                        toastr.success(data.message);
                        if (data.message == 'Successfully added in favorites') {
                            $("#icon_" + id + "").removeClass('bi-heart');
                            $("#icon_" + id + "").addClass('bi-heart-fill');
                        }
                        else {
                            $("#icon_" + id + "").removeClass('bi-heart-fill');
                            $("#icon_" + id + "").addClass('bi-heart');
                        }
                    }
                },
                complete: function (xhr, textStatus) {

                }
            });
        }
    }
</script>