@{
    ViewData["Title"] = "About";
    Layout = null;

    var isSignedIn = false;
    var name = Context.Session.GetString("_Name");
    if (name != null)
    {
        isSignedIn = true;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,400i,600,700" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">CharitEasy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="@Url.Action("Index","Home")" class="nav-link">Home</a></li>
                    <li class="nav-item active"><a href="@Url.Action("About","Home")" class="nav-link">About Founders</a></li>
                    <li class="nav-item"><a href="@Url.Action("Causes","Home")" class="nav-link">Charities</a></li>
                    <li class="nav-item"><a href="@Url.Action("FundMe","Home")" class="nav-link">Fund Me</a></li>
                    <li class="nav-item"><a href="@Url.Action("Contact","Home")" class="nav-link">Contact</a></li>

                    @if (isSignedIn == true)
                    {
                        <li class="nav-item"><a href="#" class="nav-link">Hi, @name</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a href="@Url.Action("SignIn","Home")" class="nav-link">Sign In</a></li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <div class="hero-wrap" style="background-image: url('@Url.Content("~/images/bg_7.jpg")');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="@Url.Action("Index","Home")">Home</a></span> <span>About</span></p>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Founders</h1>
                </div>
            </div>
        </div>
    </div>


    <section class="ftco-section">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 d-flex ftco-animate">
                    <div class="img img-about align-self-stretch" style="background-image: url(@Url.Content("~/images/Ahmad.jpg")); width: 100%;"></div>
                </div>
                <div class="col-md-6 pl-md-5 ftco-animate">
                    <h2 class="mb-4">Ahmad Nawaz - Founder</h2>
                    <p>Hello, I'm Ahmad Nawaz, an Oxford student and founder of CharitEasy. My journey into the world of activism began with a tragic incident in my homeland, Pakistan. In 2014, my life was forever changed by a terrorist attack on my school in Peshawar, Pakistan, which claimed the life of my younger brother, Haris, and left me injured. Inspired by this tragic event, I dedicated myself to advocating for education, youth empowerment, and peace.</p>
                    <p>
                        Throughout my advocacy work, I have been fortunate to partner with numerous charities striving to make a positive impact in the world. Yet, I noticed a common challenge faced by donors: the lack of a centralised, user-friendly platform to connect with impactful, vetted charities. As a survivor turned activist, I felt a deep responsibility to bridge this gap.
                    </p>
                    <p>That's why I founded CharitEasy, a platform designed to simplify and amplify the process of giving. We meticulously curate a diverse selection of charities and present their missions, impact, and needs in a way that empowers donors to make informed, meaningful contributions.</p>
                    <p>At CharitEasy, we believe that every act of kindness can transform lives. Our platform is not just a tool, but a testament to the power of human empathy and solidarity. I invite you to join us on this journey. Let's create a world where our collective compassion leaves a lasting impact.</p>
                    <h2 class="mb-4">Alexandru Bota - Co-Founder</h2>
                    <p>
                        Greetings, I am Alexandru Bota, a 23-year-old Romanian driven by passion for Computer Science, and proudly serving as the Co-Founder of CharitEasy. My journey into the realm of charitable endeavours has been shaped by personal experiences that have influenced my perspective. The tragic events of the 2015 Paris terrorist attack, which unfolded in close proximity to me, coupled with the inspiring life story of Ahmad Nawaz, have kindled a commitment within me to make a meaningful impact.
                    </p>
                    <p>
                        From a young age, I was taught how important it is to share when you have the possibility and I found through this platform a way to promote this activity which is not so popular in my country.
                    </p>
                    <p>My academic pursuit of Computer Science commenced at the age of 14, culminating in the successful completion of my studies at Babes Bolyai University with a specialisation in English in 2022 and it is an amazing opportunity to mix my skills and passion with the creation of a hope giving website. </p>
                    <p>At its core, CharitEasy is aimed at elevating the user's engagement with charitable work, streamlining their experiences, and propelling the collective effort to alleviate various cases.</p>
                    <p>Join us to help us have a positive impact on the world.</p>
                </div>
            </div>
        </div>
    </section>

   <section class="ftco-counter ftco-intro" id="section-counter">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 color-1 align-items-stretch">
                        <div class="text">
                            <h3></h3>
                            <span>Donate smarter.</span><span> Change more lives.</span>

                            @if (isSignedIn == true)
                            {
                                <strong><a href="@Url.Action("Index","Dashboard")" class="btn btn-white px-3 py-2 mt-2">GoTo Dashboard</a></strong>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 color-2 align-items-stretch">
                        <div class="text">
                            <h3 class="mb-4">Donate Money</h3>
                            <p>Change more lives.</p>
                            <p><a href="@Url.Action("Causes","Home")" class="btn btn-white px-3 py-2 mt-2">Explore charities</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 color-3 align-items-stretch">
                        <div class="text">
                            <h3 class="mb-4">Be a volunteer</h3>
                            <p>Become a volunteer and help the causes you care about.</p>
                            <p><a href="#volunter-form" class="btn btn-white px-3 py-2 mt-2">Be a volunteer</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">Latest Donations</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                    <div class="staff">
                        <div class="d-flex mb-4">
                            <div class="img" style="background-image: url(@Url.Content("~/images/person_1.jpg"));"></div>
                            <div class="info ml-4">
                                <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                                <span class="position">Donated Just now</span>
                                <div class="text">
                                    <p>Donated <span>$300</span> for <a href="#">Children Needs Food</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                    <div class="staff">
                        <div class="d-flex mb-4">
                            <div class="img" style="background-image: url(@Url.Content("~/images/person_2.jpg"));"></div>
                            <div class="info ml-4">
                                <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                                <span class="position">Donated Just now</span>
                                <div class="text">
                                    <p>Donated <span>$150</span> for <a href="#">Children Needs Food</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
                    <div class="staff">
                        <div class="d-flex mb-4">
                            <div class="img" style="background-image: url(@Url.Content("~/images/person_3.jpg"));"></div>
                            <div class="info ml-4">
                                <h3><a href="teacher-single.html">Ivan Jacobson</a></h3>
                                <span class="position">Donated Just now</span>
                                <div class="text">
                                    <p>Donated <span>$250</span> for <a href="#">Children Needs Food</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">About Founders</h2>
                        <p>
                            We are trying to make the world a better place by making donations simpler & more informed.
                            Donate Smarter. Change More Lives.
                        </p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Recent Blog</h2>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(@Url.Content("~/images/image_1.jpg"));"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(@Url.Content("~/images/image_2.jpg"));"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Site Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Home</a></li>
                            <li><a href="#" class="py-2 d-block">About</a></li>
                            <li><a href="#" class="py-2 d-block">Donate</a></li>
                            <li><a href="#" class="py-2 d-block">Causes</a></li>
                            <li><a href="#" class="py-2 d-block">Event</a></li>
                            <li><a href="#" class="py-2 d-block">Blog</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have any questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">University of Oxford, Lady Margaret Hall, Norham Gardens, Oxford. OX26QA.</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+447948754195</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">Chariteasy@hotmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>